.bar{
	margin:auto;
	height:60px;
	width:570px;
	border:5px solid black
}
div div{
	background-color:#ff8533;
	border-radius:5px;
	border:2px solid #ff6600;
	height:50px;
	width:120px;
	position:relative;
	margin:5px 15px 5px 15px;
	display:inline
}
#left{
	float:left;
}

#l-middle{
	float:left;
}

#r-middle{
	float:left;
}

#right{
	float:right;
}