.side_bar{
	float:right;
	height:600px;
	width:124px;
	margin-top:350px;
}

.label{
	text-align:center;
	font-family:Courier New;
	color:white;
}

.contrast_box{
	margin:auto;
	height:150px;
	width:600px;
	background-color:#cfffff;
	border-radius:10px;
}

.body_text{
	text-align:center;
	font-family:Courier New;
	color:black;
}

body{
	background-image:url(earth.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

div div{
	/*background-color:#ff8533;
	border-radius:10px;
	border:2px solid #ff6600;*/
	height:50px;
	width:120px;
	position:relative;
	margin:15px 5px 15px 5px;
}

a{
	text-decoration:none;
}

#left{}

#l-middle{
	clear:both;
}

#r-middle{
	clear:both;
}

#right{
	clear:both;
}

#welcome{
	text-align:center;
	margin-top:200px;
	font-size:10em;
	color:#cfffff;	
}